# Before you start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [1]:
!pip install -U scipy

Requirement already satisfied: scipy in c:\users\non\anaconda3\lib\site-packages (1.7.3)
Collecting scipy
  Using cached scipy-1.8.1-cp39-cp39-win_amd64.whl (36.9 MB)
Requirement already satisfied: numpy<1.25.0,>=1.17.3 in c:\users\non\anaconda3\lib\site-packages (from scipy) (1.20.3)
Installing collected packages: scipy
  Attempting uninstall: scipy
    Found existing installation: scipy 1.7.3
    Uninstalling scipy-1.7.3:
      Successfully uninstalled scipy-1.7.3

ERROR: Could not install packages due to an OSError: [WinError 5] Zugriff verweigert: 'C:\\Users\\NON\\anaconda3\\Lib\\site-packages\\~~ipy\\.libs\\libansari.54HGNEJBQIYZX5TZPCQGLNVIPFU6NWEX.gfortran-win_amd64.dll'
Consider using the `--user` option or check the permissions.

In [2]:
# import numpy and pandas
import pandas as pd

import numpy as np

# Challenge 1 - Exploring the Data

In this challenge, we will examine all salaries of employees of the San Francisco. We will start by loading the dataset and examining its contents.

In [3]:
# Your code here:
Salaries = pd.read_csv('Salaries.csv')

C:\Users\NON\AppData\Local\Temp/ipykernel_51476/3941244407.py:2: DtypeWarning: Columns (3,4,5,6,12) have mixed types. Specify dtype option on import or set low_memory=False.
  Salaries = pd.read_csv('Salaries.csv')

Examine the `salaries` dataset using the `head` function below.

In [4]:
# Your code here:

In [5]:
Salaries.head()

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.0,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.6,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.0,56120.71,198306.9,NaN,332343.61,332343.61,2011,NaN,San Francisco,NaN
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.6,9737.0,182234.59,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN

We see from looking at the `head` function that there is quite a bit of missing data. Get the amount of missing data in every column

In [6]:
# Your code here:

In [7]:
Salaries.isna().sum()

Id                       0
EmployeeName             0
JobTitle                 0
BasePay                605
OvertimePay              0
OtherPay                 0
Benefits             36159
TotalPay                 0
TotalPayBenefits         0
Year                     0
Notes               148654
Agency                   0
Status              110535
dtype: int64

Get the shape of the dataframe

In [8]:
# Your code here

In [9]:
display(Salaries.shape)

(148654, 13)

Given output of the previous two cells, drop the corresponding column and compute again the amount of missing values.

In [10]:
# Your code here
Salaries.drop('Notes', axis=1, inplace=True)

Check out what are the possible values of the column "Status".

In [11]:
Salaries.isna().sum()

Id                       0
EmployeeName             0
JobTitle                 0
BasePay                605
OvertimePay              0
OtherPay                 0
Benefits             36159
TotalPay                 0
TotalPayBenefits         0
Year                     0
Agency                   0
Status              110535
dtype: int64

In [12]:
# Your code here
Salaries["Status"].unique()

array([nan, 'PT', 'FT'], dtype=object)

Drop any row with missing values in the "Status" column and compute again the number of missing values.

In [13]:
# Your code here
Salaries = Salaries[Salaries['Status'].isna()==False]

In [14]:
Salaries.head()

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Agency,Status
110531,110532,David Shinn,Deputy Chief 3,129150.01,0.0,342802.63,38780.04,471952.64,510732.68,2014,San Francisco,PT
110532,110533,Amy P Hart,Asst Med Examiner,318835.49,10712.95,60563.54,89540.23,390111.98,479652.21,2014,San Francisco,FT
110533,110534,William J Coaker Jr.,Chief Investment Officer,257340.0,0.0,82313.7,96570.66,339653.70,436224.36,2014,San Francisco,PT
110534,110535,Gregory P Suhr,Chief of Police,307450.04,0.0,19266.72,91302.46,326716.76,418019.22,2014,San Francisco,FT
110535,110536,Joanne M Hayes-White,"Chief, Fire Department",302068.0,0.0,24165.44,91201.66,326233.44,417435.10,2014,San Francisco,FT

In [15]:
# Your code here
Salaries.isna().sum()

Id                  0
EmployeeName        0
JobTitle            0
BasePay             0
OvertimePay         0
OtherPay            0
Benefits            0
TotalPay            0
TotalPayBenefits    0
Year                0
Agency              0
Status              0
dtype: int64

Check out the types of each column and see if they make sense.

In [16]:
# Your code here

In [17]:
Salaries.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 38119 entries, 110531 to 148653
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Id                38119 non-null  int64
 1   EmployeeName      38119 non-null  object
 2   JobTitle          38119 non-null  object
 3   BasePay           38119 non-null  object
 4   OvertimePay       38119 non-null  object
 5   OtherPay          38119 non-null  object
 6   Benefits          38119 non-null  object
 7   TotalPay          38119 non-null  float64
 8   TotalPayBenefits  38119 non-null  float64
 9   Year              38119 non-null  int64
 10  Agency            38119 non-null  object
 11  Status            38119 non-null  object
dtypes: float64(2), int64(2), object(8)
memory usage: 3.8+ MB

In [18]:
# Your code here

Do any type conversions and reset the index.

In [19]:
# Your code here

In [20]:
Salaries["BasePay"]= Salaries ["BasePay"].astype("float")
Salaries["OvertimePay"]= Salaries ["OvertimePay"].astype("float")
Salaries["OtherPay"]= Salaries ["OtherPay"].astype("float")
Salaries["Benefits"]= Salaries ["Benefits"].astype("float")
Salaries=Salaries.reset_index(drop=True)
Salaries.head()

C:\Users\NON\AppData\Local\Temp/ipykernel_51476/34917739.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Salaries["BasePay"]= Salaries ["BasePay"].astype("float")
C:\Users\NON\AppData\Local\Temp/ipykernel_51476/34917739.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Salaries["OvertimePay"]= Salaries ["OvertimePay"].astype("float")
C:\Users\NON\AppData\Local\Temp/ipykernel_51476/34917739.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Salaries["OtherPay"]= Salaries ["OtherPay"].astype("float")
C:\Users\NON\AppData\Local\Temp/ipykernel_51476/34917739.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Salaries["Benefits"]= Salaries ["Benefits"].astype("float")

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Agency,Status
0,110532,David Shinn,Deputy Chief 3,129150.01,0.00,342802.63,38780.04,471952.64,510732.68,2014,San Francisco,PT
1,110533,Amy P Hart,Asst Med Examiner,318835.49,10712.95,60563.54,89540.23,390111.98,479652.21,2014,San Francisco,FT
2,110534,William J Coaker Jr.,Chief Investment Officer,257340.00,0.00,82313.70,96570.66,339653.70,436224.36,2014,San Francisco,PT
3,110535,Gregory P Suhr,Chief of Police,307450.04,0.00,19266.72,91302.46,326716.76,418019.22,2014,San Francisco,FT
4,110536,Joanne M Hayes-White,"Chief, Fire Department",302068.00,0.00,24165.44,91201.66,326233.44,417435.10,2014,San Francisco,FT

In [21]:
Salaries.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 38119 entries, 0 to 38118
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Id                38119 non-null  int64
 1   EmployeeName      38119 non-null  object
 2   JobTitle          38119 non-null  object
 3   BasePay           38119 non-null  float64
 4   OvertimePay       38119 non-null  float64
 5   OtherPay          38119 non-null  float64
 6   Benefits          38119 non-null  float64
 7   TotalPay          38119 non-null  float64
 8   TotalPayBenefits  38119 non-null  float64
 9   Year              38119 non-null  int64
 10  Agency            38119 non-null  object
 11  Status            38119 non-null  object
dtypes: float64(6), int64(2), object(4)
memory usage: 3.5+ MB

In [22]:
# Your code here

Check out if "TotalPayBenefits" = "BasePay" + "OvertimePay" + "OtherPay" + "Benefits"

In [23]:
# Your code here
Salaries['TotalPayBenefits'] == Salaries['BasePay']+Salaries['OvertimePay']+Salaries['OtherPay']+Salaries['Benefits']

0         True
1        False
2         True
3        False
4         True
         ...
38114     True
38115     True
38116     True
38117     True
38118     True
Length: 38119, dtype: bool

What is the percetage of employees for which the previous assumption is not True?

In [24]:
# Your code here:
(Salaries['TotalPayBenefits'] == Salaries['BasePay']+ Salaries['OvertimePay']+ Salaries['OtherPay']+ Salaries['Benefits']).value_counts()/len(Salaries)*100

True     73.708649
False    26.291351
dtype: float64

There are different departments in the city. List all departments and the count of employees in each department.

In [25]:
# Your code here:
Salaries.groupby(['JobTitle']).agg({'Id':pd.Series.nunique}).rename(columns = {'Id' : 'Employees'})

                                Employees
JobTitle
ACPO,JuvP, Juv Prob (SFERS)             1
ASR Senior Office Specialist           22
ASR-Office Assistant                   15
Account Clerk                          93
Accountant I                            2
...                                   ...
Wire Rope Cable Maint Sprv              1
Worker's Comp Supervisor 1              6
Worker's Compensation Adjuster         26
X-Ray Laboratory Aide                  35
Youth Comm Advisor                      1

[996 rows x 1 columns]

# Challenge 2 - Hypothesis Tests

In this section of the lab, we will test whether the hourly wage of **all FT workers is significantly different from $75/hr**. Get first the hourly wage by dividing "TotalPayBenefits" by 50 weeks (assuming 10 labour days of holidays) and by 40hrs (assuming a 40hrs week).

$$Hourly Wage = \frac{TotalPayBenefits}{1 year}\frac{1 year}{50 Week}\frac{1 Week}{40 hr}$$

Import the correct one sample test function from scipy and perform the hypothesis test for a 95% two sided confidence interval.

In [26]:
# Your code here: (compute the "Hourly_Wage")
Salaries['Hourly_Wage'] = Salaries['TotalPayBenefits']/50/40
Salaries.head()

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Agency,Status,Hourly_Wage
0,110532,David Shinn,Deputy Chief 3,129150.01,0.00,342802.63,38780.04,471952.64,510732.68,2014,San Francisco,PT,255.366340
1,110533,Amy P Hart,Asst Med Examiner,318835.49,10712.95,60563.54,89540.23,390111.98,479652.21,2014,San Francisco,FT,239.826105
2,110534,William J Coaker Jr.,Chief Investment Officer,257340.00,0.00,82313.70,96570.66,339653.70,436224.36,2014,San Francisco,PT,218.112180
3,110535,Gregory P Suhr,Chief of Police,307450.04,0.00,19266.72,91302.46,326716.76,418019.22,2014,San Francisco,FT,209.009610
4,110536,Joanne M Hayes-White,"Chief, Fire Department",302068.00,0.00,24165.44,91201.66,326233.44,417435.10,2014,San Francisco,FT,208.717550

In [27]:
# Your code here: (Compute the mean hourly wage for all the "FT" employees)
Salaries_FT = Salaries[Salaries['Status']=='FT']

In [32]:
HW = Salaries_FT['Hourly_Wage']
mean = np.mean(HW)
print (mean)

69.264206407271

In [29]:
# Your code here: (compute the t_statistic). Take into account that this dataset is a sample of a real population.
# Remember that you only need to consider "FT" employees

In [33]:
Salaries_FT = Salaries[Salaries['Status']=='FT']

n = len(Salaries_FT)
stdev = np.std(HW, ddof=1)
t_stat = (mean-75)/(stdev/n**(1/2))
t_stat

-35.80631941460788

In [42]:
import math
def variance(Salaries_FT , ddof=0):
             n = len(Salaries_FT )
             mean = sum(Salaries_FT ) / n
             return sum((x - mean) ** 2 for x in data) / (n - ddof)
def stdev(Salaries_FT ):
        var = variance(Salaries_FT )
        std_dev = math.sqrt(var)
        return std_dev

In [43]:
stdev()

TypeError: stdev() missing 1 required positional argument: 'Salaries_FT'

In [ ]:
# Method 1: Critical value. Get the critical value and compare it against your statisttic.
# Your code here:

In [40]:
import scipy.stats
print(scipy.stats.t.ppf(0.05/2,df = len(HW)-1))
print(scipy.stats.t.ppf(1-0.05/2,df = len(HW)-1))

-1.9600702128845597
1.9600702128845593

In [ ]:
# Method 2: Use the p-value method.
# Your code here:

In [44]:
scipy.stats.t.cdf(t_stat,df = len(HW)-1)

2.2589156167195097e-273

In [45]:
# Method 3: Use the ttest_1samp function from scipy. 
# Check the documentation [here](https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.ttest_1samp.html)
# Make sure that you have a scipy version >=1.6.0. If that's not your case please ugrade your scipy version using
!pip install -U scipy
# Your code here:

Requirement already satisfied: scipy in c:\users\non\anaconda3\lib\site-packages (1.8.1)
Requirement already satisfied: numpy<1.25.0,>=1.17.3 in c:\users\non\anaconda3\lib\site-packages (from scipy) (1.20.3)

In [48]:
from scipy.stats import ttest_1samp
t_stat_f, pval = scipy.stats.ttest_1samp(HW, popmean = 75, alternative = "two-sided")
print(t_stat_f)

-35.80631941460526

In [49]:
print(pval)

4.517831233839448e-273

Are all the methods in agreement?

We are also curious about salaries in the police force. The chief of police in Chicago claimed in a press briefing that salaries this year are **higher than last year's mean of $86000/year for all salaried employees** (use the column "TotalPayBenefits". Test  hypothesis using a 95% confidence interval.

Hint: Use apply and a lambda function to check in "Police" is in the "JobTitle" to get all the "Police" jobs.

In [ ]:
# Your code here: (compute the t_statistic). Take into account that this dataset is a sample of a real population.
# Remember that you only need to consider "Police" employees

In [50]:
def police_fct(x):
    if 'Police' in x:
        return True
    else: 
        return False

In [52]:
Salaries['Police']=Salaries['JobTitle'].apply(police_fct)

compute the t_statistic

In [59]:
police2 = Salaries[Salaries['Police']==True]['TotalPayBenefits']
mean = np.mean(sp)
std = np.std(sp, ddof=1)
t_stat=(mean-86000)/(std/np.sqrt(len(sp)))
t_stat

50.252984742109916

In [ ]:
# Method 1: Critical value. Get the critical value and compare it against your statisttic.
# Your code here:

In [60]:
scipy.stats.t.ppf(0.05,df = len(police2)-1)

-1.645656004264731

Critical value is smaller than the t_stat

In [ ]:
# Method 2: Use the p-value method.
# Your code here:

In [61]:
scipy.stats.t.cdf(t_stat,df = len(police2)-1)

1.0

In [56]:
# Method 3: Use the ttest_1samp function from scipy. 
# Check the documentation [here](https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.ttest_1samp.html)
# Make sure that you have a scipy version >=1.6.0. If that's not your case please ugrade your scipy version using
!pip install -U scipy
# Your code here:

Requirement already satisfied: scipy in c:\users\non\anaconda3\lib\site-packages (1.8.1)
Requirement already satisfied: numpy<1.25.0,>=1.17.3 in c:\users\non\anaconda3\lib\site-packages (from scipy) (1.20.3)

In [62]:
from scipy.stats import ttest_1samp
t_stat_f, pval = scipy.stats.ttest_1samp(police2, popmean = 86000, alternative = "less")
print(t_stat_f)
print(pval)

50.252984742109945
1.0

The workers from the "JobTitle" with the most employees have complained that their hourly wage is **less than $35/hour**. Using a one sample t-test, test this one-sided hypothesis at the 95% confidence level.

In [ ]:
# Your code here: (Get the department which has most employees)

In [63]:
Salaries.groupby(["JobTitle"]).agg({'Id':pd.Series.nunique}).sort_values(['Id'])

                                  Id
JobTitle
ACPO,JuvP, Juv Prob (SFERS)        1
Graphics Supervisor                1
Govrnmt/Publ Affairs Mgr           1
Gen Mgr, Public Trnsp Dept         1
Forensic Toxicologist Supervis     1
...                              ...
Firefighter                      815
Public Svc Aide-Public Works     916
Registered Nurse                1234
Special Nurse                   1478
Transit Operator                2479

[996 rows x 1 columns]

In [ ]:
# Your code here: (compute the t_statistic). Take into account that this dataset is a sample of a real population.
# Remember that you only need to consider the right "JobTitle" employees

In [ ]:
sp = Salaries[Salaries['Police']==True]['TotalPayBenefits']
mean = np.mean(sp)
std = np.std(sp, ddof=1)
t_stat=(mean-86000)/(std/np.sqrt(len(sp)))
t_stat

In [64]:
Salaries.head()

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Agency,Status,Hourly_Wage,Police
0,110532,David Shinn,Deputy Chief 3,129150.01,0.00,342802.63,38780.04,471952.64,510732.68,2014,San Francisco,PT,255.366340,False
1,110533,Amy P Hart,Asst Med Examiner,318835.49,10712.95,60563.54,89540.23,390111.98,479652.21,2014,San Francisco,FT,239.826105,False
2,110534,William J Coaker Jr.,Chief Investment Officer,257340.00,0.00,82313.70,96570.66,339653.70,436224.36,2014,San Francisco,PT,218.112180,False
3,110535,Gregory P Suhr,Chief of Police,307450.04,0.00,19266.72,91302.46,326716.76,418019.22,2014,San Francisco,FT,209.009610,True
4,110536,Joanne M Hayes-White,"Chief, Fire Department",302068.00,0.00,24165.44,91201.66,326233.44,417435.10,2014,San Francisco,FT,208.717550,False

In [69]:
Job = Salaries[Salaries['JobTitle']==True]['Hourly_Wage']
mean = np.mean(Job)
std = np.std(Job , ddof = 1)
t_stat=(mean-86000)/(std/np.sqrt(len(Job)))
t_stat

nan

In [ ]:
# Method 1: Critical value. Get the critical value and compare it against your statisttic.
# Your code here:

In [ ]:
scipy.stats.t.ppf(1-0.05,len(Job ))

In [ ]:
# Method 2: Use the p-value method.
# Your code here:
1-scipy.stats.t.cdf(t_stat,len(Job))

In [70]:
# Method 3: Use the ttest_1samp function from scipy. 
# Check the documentation [here](https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.ttest_1samp.html)
# Make sure that you have a scipy version >=1.6.0. If that's not your case please ugrade your scipy version using
!pip install -U scipy
# Your code here:

Requirement already satisfied: scipy in c:\users\non\anaconda3\lib\site-packages (1.8.1)
Requirement already satisfied: numpy<1.25.0,>=1.17.3 in c:\users\non\anaconda3\lib\site-packages (from scipy) (1.20.3)

In [73]:
scipy.stats.ttest_1samp(Job, 35, alternative='two-sided')

Ttest_1sampResult(statistic=nan, pvalue=nan)

# Challenge 3: To practice - Constructing Confidence Intervals

While testing our hypothesis is a great way to gather empirical evidence for accepting or rejecting the hypothesis, another way to gather evidence is by creating a confidence interval. A confidence interval gives us information about the true mean of the population. So for a 95% confidence interval, we are 95% sure that the mean of the population is within the confidence interval. 
).

To read more about confidence intervals, click [here](https://en.wikipedia.org/wiki/Confidence_interval).


In the cell below, we will construct a 95% confidence interval for the mean hourly wage of all hourly workers. 

To compute the confidence interval of the hourly wage, use the 0.95 for the confidence level.

In [ ]:
# Method 1: Get the critical values which correspond to a 95% confidence.
# Your code here:

In [77]:
HW = Salaries['Hourly_Wage']
mean = np.mean(HW)
print('mean:',round(mean,2))

mean: 50.13

In [78]:
std = np.std(HW, ddof=1)
print('std:',round(std,2))

std: 33.12

In [79]:
lower_border_t = scipy.stats.t.ppf(0.025,len(Salaries)-1)
upper_border_t = scipy.stats.t.ppf(1-0.025,len(Salaries)-1)
print('lower t:',lower_border_t)
print('upper t:',upper_border_t)

lower t: -1.9600262214170783
upper t: 1.9600262214170778

In [80]:
print('conf int low:',mean+lower_border_t*(std/np.sqrt(len(HW))))
print('conf int upp:',mean+upper_border_t*(std/np.sqrt(len(HW))))

conf int low: 49.798255413084014
conf int upp: 50.46318325529486

Now compute a 95% confidence interval for the hourly salary of all the Police employees.

In [ ]:
# Your code here:

In [82]:
Police2 = Salaries[Salaries['Police']==True]['Hourly_Wage']
mean = np.mean(Police2)

In [84]:
print('mean:',mean)

mean: 74.1745210625985

In [85]:
std = np.std(Police2, ddof=1)
print('std:',round(std,2))

std: 27.05

In [86]:
lower_border_t = scipy.stats.t.ppf(0.025,len(sp)-1)
upper_border_t = scipy.stats.t.ppf(1-0.025,len(sp)-1)
print('lower t:',lower_border_t)
print('upper t:',upper_border_t)
print('conf int low:',mean+lower_border_t*(std/np.sqrt(len(sp))))
print('conf int upp:',mean+upper_border_t*(std/np.sqrt(len(sp))))

lower t: -1.961213330573796
upper t: 1.9612133305737955
conf int low: 72.9578791736444
conf int upp: 75.3911629515526

#Â Chi2 test

Now we want to know if the amount of full time "FT" and part time "PT" employees is equal between Lawers, Meds, Police, Firemen and other departments. 

Considering all the options in this groups of employees will be very time consuming. To simplify this process, create first a function that returns:

* "Policemen" if "Police" is found on "JobTitle"
* "Firemen" if "Fire" is found on "JobTitle"
* "Medical" if "Med" or "Nurse" is found on "JobTitle"
* "Lawyer" if "Attorney" is found on "JobTitle"
* "Other" in any other cases

Then, create a new column named "employee_group" that determines to which group belong the employee.

In [92]:
# Your code here: (Create the function)
def employee_group(x) :
    if ('Police' in x) :
        return 'Policemen' 
    elif ('Fire' in x) :
        return 'Firemen'
    elif ('Med' in x or 'Nurse' in x) :
        return 'Medical'
    elif ('Attorney' in x) :
        return 'Lawyer'
    else :
        return 'Other'

In [ ]:
# Your code here: (Apply the function)

In [93]:
Salaries['employee_group'] = Salaries['JobTitle'].apply(employee_group)
Salaries['employee_group'].unique()

array(['Other', 'Medical', 'Policemen', 'Firemen', 'Lawyer'], dtype=object)

Determine how many "PT" and "FT" employess have all the employees groups.

In [ ]:
# Your code here: (Store the output dataframe into a new variable)

In [95]:
Salaries['employee_group'].head()

0        Other
1      Medical
2        Other
3    Policemen
4      Firemen
Name: employee_group, dtype: object

In [96]:
Salaries.head()

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Agency,Status,Hourly_Wage,Police,employee_group
0,110532,David Shinn,Deputy Chief 3,129150.01,0.00,342802.63,38780.04,471952.64,510732.68,2014,San Francisco,PT,255.366340,False,Other
1,110533,Amy P Hart,Asst Med Examiner,318835.49,10712.95,60563.54,89540.23,390111.98,479652.21,2014,San Francisco,FT,239.826105,False,Medical
2,110534,William J Coaker Jr.,Chief Investment Officer,257340.00,0.00,82313.70,96570.66,339653.70,436224.36,2014,San Francisco,PT,218.112180,False,Other
3,110535,Gregory P Suhr,Chief of Police,307450.04,0.00,19266.72,91302.46,326716.76,418019.22,2014,San Francisco,FT,209.009610,True,Policemen
4,110536,Joanne M Hayes-White,"Chief, Fire Department",302068.00,0.00,24165.44,91201.66,326233.44,417435.10,2014,San Francisco,FT,208.717550,False,Firemen

In [99]:
statusft_pt = pd.crosstab(Salaries['employee_group'], Salaries['Status'], margins = False)
statusft_pt

Status             FT     PT
employee_group
Firemen          1333    178
Lawyer            317    102
Medical          1028   2889
Other           18126  12245
Policemen        1530    371

Now try compute the expected frequencies doing the calculations with the individual probabilities. Remember that the Chi2 test assumes that both variables (employee_group and FT/PT) are not related (therefore they are independent). Therefore, to compute the expected frequencies you need to compute the probability of each cell and multiply it by the number of observations. ie:

$$\nu(x,y) = p(x,y) * N = p(x) * p(y) * N$$

bear in mind that in general: $p(x,y)\neq p(x)*p(y)$; the equality will only be true if x and y are independent. However, the null hypotheses says that **x and y are independent.** but that's what we're assuming with the null hypotheses.

where "x" is the "employee_group" and "y" the (FT/PT).

In [ ]:
# Create an empty dataframe named "frequencies" to store the data.
# Your code here:

In [100]:
frequencies = pd.DataFrame()
frequencies

Empty DataFrame
Columns: []
Index: []

In [101]:
frequencies=pd.DataFrame(columns = ['FT','PT'],index=['Fireman','Lawyers','Medical','Other','Policeman'])
frequencies

            FT   PT
Fireman    NaN  NaN
Lawyers    NaN  NaN
Medical    NaN  NaN
Other      NaN  NaN
Policeman  NaN  NaN

In [ ]:
# Your code here: Compute Expected frequency of being "Firemen" and "FT". Store the solution in a variable named "firemen_ft"

In [117]:
#N = FT+  PT
N_ft = 1333  + 317 + 1028  + 18126 + 1530 
firemen_pt = (1333 + 178) * p_pt * N
firemen_pt

25404443.000000004

In [118]:
firemen_ft = (1333 + 178) * p_ft * N
firemen_ft

33746674.0

In [112]:
N = 1333 + 178 + 317 + 102 + 1028 + 2889 + 18126 + 12245 + 1530 + 371

0.03963902515805766

In [114]:
p_ft = N_ft/N

In [115]:
p_pt= N_pt/N

In [ ]:
# Your code here: Compute Expected frequency of being "Firemen" and "PT". Store the solution in a variable named "firemen_pt"

In [108]:
N_pt = 178  + 102 + 1028  + 2889 + 12245+ 371

0.0105870457384167

In [ ]:
# Your code here: Compute Expected frequency of being "Lawyers" and "FT". Store the solution in a variable named "lawyers_ft"

In [120]:


lawyers_ft = (317+102)* p_ft * N
lawyers_ft

9357946.0

In [ ]:
# Your code here: Compute Expected frequency of being "Lawyers" and "PT". Store the solution in a variable named "lawyers_pt"

In [121]:
lawyers_pt =  (317+102)* p_pt * N
lawyers_pt

7044647.0

In [ ]:
# Your code here: Compute Expected frequency of being "Medical" and "FT". Store the solution in a variable named "medical_ft"

In [122]:
medical_ft = (1028+2889)* p_ft * N
medical_ft

87482278.0

In [ ]:
# Your code here: Compute Expected frequency of being "Medical" and "PT". Store the solution in a variable named "medical_pt"

In [125]:
medical_pt = (1028+2889)* p_pt * N
medical_pt

65856521.00000001

In [ ]:
# Your code here: Compute Expected frequency of being "Other" and "FT". Store the solution in a variable named "other_ft"

In [124]:
other_ft = (18126+12245)* p_ft * N
other_ft

678305914.0

In [ ]:
# Your code here: Compute Expected frequency of being "Other" and "PT". Store the solution in a variable named "other_pt"

In [126]:
other_pt = (18126+12245)* p_pt * N
other_pt

510627623.0

In [ ]:
# Your code here: Compute Expected frequency of being "Policement" and "FT". Store the solution in a variable named "policemen_ft"

In [127]:
policemen_ft = (1530+371)* p_ft * N
policemen_ft

42456934.0

In [ ]:
# Your code here: Compute Expected frequency of being "Policement" and "PT". Store the solution in a variable named "policemen_pt"

In [128]:
policemen_pt = (1530+371)* p_pt * N
policemen_pt

31961513.0

* Store all the expected frequencies of "FT" employees in a list 
* Store all the "PT" employees into another list
* Create a dictionary with "FT" and "PT" as keys and as the values use the previous lists
* Create a dataframe with this dictionary using pd.DataFrame()

In [ ]:
# Your code here:

In [129]:
frequencies_ft = [firemen_ft, lawyers_ft, medical_ft, other_ft, policemen_ft]
frequencies_pt = [firemen_pt, lawyers_pt, medical_pt, other_pt, policemen_pt]

In [130]:
dictionary_ptft = {'FT' : frequencies_ft, 'PT' :frequencies_pt}
dictionary_ptft

{'FT': [33746674.0, 9357946.0, 65856521.00000001, 678305914.0, 42456934.0],
 'PT': [25404443.000000004,
  7044647.0,
  65856521.00000001,
  510627623.0,
  31961513.0]}

In [131]:
frequencies_df = pd.DataFrame(dictionary_ptft)
frequencies_df

            FT           PT
0   33746674.0   25404443.0
1    9357946.0    7044647.0
2   65856521.0   65856521.0
3  678305914.0  510627623.0
4   42456934.0   31961513.0

Now use the "st.chi2_contingency()" from scipy.stats [documentation here](https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.chi2_contingency.html) to conduct a Chi2 test to determine if the diferences between employee groups are statistically significant using a 95% confidence level. Hint: fill the function with a dataframe of actual frequencies.

In [ ]:
# Your code here: (use the st.chi2_contingency() function from scipy.stats to compute:
# The Chi2 value
# The p-valueYea we 
# The expected frequencies.
# Ho: there is no relationship
# Ha: there is relationship differences
# p_value = P(table | Ho) = P(table | no relationship) = 1.51e-6 < 0.05

In [133]:
import scipy.stats as st

st.chi2_contingency(np.array(statusft_pt))

(2676.642333711905,
 0.0,
 4,
 array([[  885.29798788,   625.70201212],
        [  245.49295627,   173.50704373],
        [ 2294.97830478,  1622.02169522],
        [17794.43096618, 12576.56903382],
        [ 1113.79978488,   787.20021512]]))

Check if your expected frequencies aggree with the ones obtained with the st.chi2_contingency() function